{{ define "main" }}

<h1>about</h1>
<p>
    hello! i'm eugene and i am a recent computer science grad @ <b><a href="https://eecs.berkeley.edu/">uc
            berkeley</a></b> and now a swe @ <b><a target="_blank" href="https://ads.google.com/home/">google
            ads</a></b>.
    <br /><br />
    previously, i've interned @ <b><a target="_blank" href="https://wearos.google.com/">google wear</a></b>, <b><a
            target="_blank" href="https://cloud.google.com/security/products/recaptcha">recaptcha</a></b>, and was a
    part-time swe @
    <b><a target="_blank" href="https://www.amd.com/">amd</a></b>. here's my <b><a target="_blank"
            href="/eugene-chao-resume.pdf">resume</a></b>.
    <br /><br />
    i love learning, building, and teaching.
    <br /><br />
    stay tuned for my latest projects and please reach out if you'd like to
    chat. :)
</p>

<h1>my blog</h1>

<div class="blog-list">
    {{ with .Site.GetPage "/blog" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
    <div class="blog">
        <p>
        <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
        <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
        {{ .Summary }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}